.container{
    display: flex;
    flex-direction: row;
}

.left{
    align-items: left;
    margin: 10px;
    padding: 5px;
    border: black 5px solid;
}

.profile{
    border: blue 2px solid;
    margin: 3px;
    padding: 2px;
}

.right{
    align-items: right;
    margin: 10px;
    padding: 5px;
    border: black 5px solid;
}